.contact-banner {
  background-image: url($img_path + 'contact.jpg');
  background-position: left center;

  h1 {
    color: white;
  }
}

.contact {

  .content-form {
    flex-wrap: wrap;
    align-items: center;
  }

  .form-container {
    align-items: center;
    justify-content: center;
  }

  form {

    textarea {
      resize: none;
      height: 100px;
    }

    .btn {
      background-color: $primary_color;
      color: white;
    }
  }

  svg {
    width: 100%;
  }
}
