.contact-banner {
  background-image: url($img_path + 'contact.jpg');
  background-position: center;

  h1 {
    color: white;
  }
}

.contact {

  .content-form {
    flex-wrap: wrap;
    align-items: center;
  }

  .form-container {
    align-items: center;
    justify-content: center;
  }

  form {

    textarea {
      resize: none;
      height: 100px;
    }

    .btn {
      background-color: $primary_color;
      color: white;
    }
  }

  .meCoding {
    width: 100%;
  }

  figure {
    position: relative;
  }

  .cloud-container {
    width: 28%;
    position: absolute;

    top: 0;
    right: 20%;

    .cloud {
      width: 100%;
      margin: 0 auto;
    }

    .circle1 {
      width: 30%;
      position: absolute;
      top: 40%;
      right: 47%;
    }

    .circle2 {
      width: 22%;
      position: absolute;
      right: 25%;
      top: 47%;
    }
  }
}
