.portfolio-container {
  flex-wrap: wrap;
  h2 {
    text-align: center;
  }
}

.container-element {
  grid-column: span 3;
}

.portfolio.banner {
  position: static;
}

.design-container {
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5em, 1fr));
  grid-auto-rows: minmax(5em, 10em);
  grid-gap: 1em;
  grid-auto-flow: row dense;

}

.container-element {

  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  &:nth-child(2n) {
    grid-column: span 3;
    grid-row: span 1;
  }

  &:nth-child(5n) {
    grid-row: span 2;
  }

  &:nth-child(11n) {
    grid-row: span 2;
    grid-column: span 1;
  }

  svg,
  img {
    height: auto;
    width: 100%;
  }

  h3 {
    position: absolute;
  }

  .filter {
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba($color: white, $alpha: 0);
    transition: all .5s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: white, $alpha: .3);
      transition: all .5s ease;
    }
  }

}
