@include media-breakpoint-up(md) {
  .service:nth-child(even),
  .skill:nth-child(even) {
    padding: 0;

    figure {
      order: 1;
    }

    h2 {
      text-align: right;
    }

    ul {
      float: right;
    }

    .wrapper,
    .content {
      order: 2;
    }

    .wrapper {
        align-items: flex-end;
    }

    p {
      text-align: right;
    }

  }

  .service:nth-child(odd),
  .skill:nth-child(odd) {
    h2 {
      text-align: left;
    }

    .wrapper {
      align-items: flex-start;
    }

    p {
      text-align: left;
    }
  }

  section {
    min-height: 100vh;
  }

  main {
    padding: 0 10%;
  }
}
