// General styles

@import '_colors';
@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(241, 241, 241);
}

main {
    padding: 0 10%;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 50px;
}

.banner {
    width: 100vw;
    height: 100vh;
    padding: 50px;

    align-items: center;
    position: relative;
}

section {

    padding: 50px 0;
    min-height: 100vh;

    h1 {
        text-decoration: underline;
        text-align: center;
    }

    h2 {
        color: $primary_color;
    }
}

hr {
    border-color: rgb(117, 117, 117);
}

@import '_home';

